/rabbitmq

/volume/**
!/volume/helmTemplates/
/volume/helmTemplates/**
!/volume/helmTemplates/README.md
!/volume/tadms/
/volume/tadms/**
!/volume/tadms/README.md

/winery/graphviz/**
/winery/artifacttypes/**
!/winery/artifacttypes/tosca.artifacts/
!/winery/artifacttypes/tosca.artifacts.Deployment/
!/winery/artifacttypes/tosca.artifacts.Deployment.Image/
!/winery/artifacttypes/tosca.artifacts.Implementation/
/winery/nodetypes/*
!/winery/nodetypes/tosca.nodes/
!/winery/nodetypes/tosca.nodes.Abstract/
!/winery/nodetypes/tosca.nodes.Container/
!/winery/nodetypes/tosca.nodes.Storage/
/winery/servicetemplates/**
!/winery/servicetemplates/.gitkeep

.DS_Store